h1,h2{
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
    color: darkcyan;
    font-size: 50px;
    background-color: lightcyan;
    font-weight: bolder;

}
p{
    color: red;
    font-size: 30px;
    font-weight: bold;
}
p.add{
    color: blue;
}
p.con{
    color: darkred;
}
.cen{
    text-align: center;
}