*
{
    margin: 0;
    padding: 0;

}
nav.nav.navbar {
    background-color: rgb(118, 80, 255);
}
body{
    background-color: coral;
}
/*-----Navigation----*/
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img
{
    height: 40px;
    padding-left: 10px;
}
.navbar-nav li 
{
    padding: 0 15px;
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}
.nav.navbar
{
    background-color: #fff;
}
#nav-bar ul li a:hover
{
    color: #ff0077!important;
}
.navbar-toggler
{
    border: none!important;
}
.nav-link
{
    color: #555!important;
    font-weight: 600;
    font-size: 18px;
}
navbar-nav
{
    margin-left: auto!important;
}
#slider
{
    width: 100%;
}
/*----Slider-------*/
#slider 
{
    width: 100% ;
}

/*
.carousel-caption
{
    top: 10%;
    transform: translateY(-50%);
    bottom: initial!important;
    

}
.carousel-caption h5
{ 
    color: rgb(247, 238, 238);
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
    border: #555;
    text-shadow: aqua;
    text-transform: capitalize;
}
#carousel-caption h5
{ 
    color: lightslategray;
    text-align: center;
    font-size: 30px;
}
#OurFather{
    font-family: Arial, Helvetica,"Times New Roman" sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    
    
}
*/